{% extends "main.html" %}

{% block styles %}
{{ super() }}
<style>
.event-meta {
  display: flex;
  align-items: center;
  font-size: .6rem;
  color: var(--md-default-fg-color--light);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.event-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  color: var(--md-default-fg-color--light);
}

.event-cover {
  margin-right: 0.5rem;
}

.md-typeset h2 {
  margin: 0;
}

.md-typeset h1 {
  margin: 0;
}

</style>
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="event-meta">
  <div class="event-items">
    <span class="twemoji">{% include ".icons/fontawesome/solid/calendar.svg" %}</span>
    {{ page.meta.date }}
    ·
    <span class="twemoji">{% include ".icons/fontawesome/solid/map-location.svg" %}</span>
    {% set location = config.extra.locations[page.meta.location] %}
    {% set location_url = 'https://www.openstreetmap.org/search?query=' + location.name + ', ' + location.address %}
    <a href="{{ location_url }}" title="{{ location.address }}">{{ location.name }}</a>
  </div>
</div>

{% if page.meta.cover %}
<img src="{{ page.meta.cover}}" alt="Cover">
{% endif %} 

<p><a class="md-button" href="{{ page.meta.meetup_url }}">
  <span class="twemoji">{% include ".icons/fontawesome/brands/meetup.svg" %}</span> Wydarzenie na Meetup.com</a>
</p>


{{page.content}}
<hr>
<h2 id="prezentacje">
  🪧 Prezentacje:<a class="headerlink" href="#prezentacje" title="Permanent link">#</a>
</h2>
<br>
<!-- <hr> -->
<div class="events">
{% set index_files = pages
  | selectattr('url', 'startswith', page.url)
  | selectattr('src_uri', '!=', page.file.src_uri)
%}

{% for file in index_files %}
{% set page_url = file.page.url|url %}
<article class="event-article">
  <!-- <div class="event-cover">
    <a href="{{ page_url }}">
      <img src="{{ file.page.meta.cover|url }}" width="128">
    </a>
  </div> -->

  <div>
    <h2>
      <a href="{{ page_url }}">{{ file.page.title }}</a>
    </h2>
  </div>
</article>
{% endfor %}
</div>
{% endblock %}