[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs = {version = "==1.6.1", extras = ["i18n"]}
mkdocs-material = "==9.6.11"
mkdocs-awesome-nav = "==3.1.1"

[requires]
python_version = "3.10"
